# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# IDE and editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Local data files
*.xlsx
*.xls
*.db

# Environment and configuration files
.env
